In [2]:
1.Series
2.Dataframe

SyntaxError: invalid syntax (<ipython-input-2-ea4bc56a72a7>, line 1)

In [ ]:
pip install pandas  #in command prompt or anaconda
!pip install pandas  #jupyter

In [ ]:
import pandas as pd

In [ ]:
print(pd.__version__)

## Series

In [ ]:
list=[1,2,3,4,5]
label=['a','b','c','d','e']

In [ ]:
list

In [ ]:
type(list)

In [ ]:
ser=pd.Series(list,index=label)
ser

In [ ]:
Difference bw series and numpy array

>500k performance of pandas is better
<Numpy array are used

In [ ]:
Marks={"maths":43,"Science":80,"physics":46,"chemistry":95}
Ser=pd.Series(Marks)

In [3]:
Ser

NameError: name 'Ser' is not defined

In [ ]:
Ser=pd.Series(Marks,index=["maths","Science","physics"])

In [ ]:
Ser

### Series Indexing

In [ ]:
Ser

In [ ]:
Ser[1]

In [ ]:
Ser["Science"]

### Slicing

In [ ]:
Ser[1:3]

In [ ]:
Ser[1:]

In [ ]:
Ser

In [ ]:
Ser.shape

In [ ]:
type(Ser)

## Dataframe

In [ ]:
list=[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]

columns=["a","b","c","d"]
labels=["A","B","C","D"]
df=pd.DataFrame(list,index=labels,columns=columns)

In [ ]:
df

In [ ]:
df=pd.DataFrame({"Name":["vishwa","Saanvi","chetan","priya"],"Age":[2,5,10,15],"Branch":["AI","ML","ECE","EEE"]})

In [ ]:
df

In [ ]:
type(df)

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df1=df.rename(columns={"Name":"Name_new"})
df1

In [ ]:
df

In [ ]:
df.columns[[0,1]]

In [ ]:
df.columns.values

In [ ]:
df=pd.DataFrame({"Name":["vishwa","Saanvi","chetan","priya"],"Age":[2,5,10,15],"Branch":["AI","ML","ECE","EEE"]})

In [ ]:
df

In [ ]:
df.drop("Name",axis=1,inplace=True)

In [ ]:
df

In [ ]:
df["place"]=["hyd","vellore","chennai","ap"]

In [ ]:
df

In [ ]:
df=pd.DataFrame({"Name":["vishwa","Saanvi","chetan","priya"],"Age":[2,5,10,15],"Branch":["AI","ML","ECE","EEE"]})

In [ ]:
df1=pd.DataFrame({"Name":["a","b","c","d"],"Age":[2,5,10,15],"Branch":["AI","ML","ECE","EEE"],"Place":["hyd","vellore","chennai","ap"]})

In [ ]:
df

In [ ]:
df1

In [ ]:
df3=df.append(df1)

In [ ]:
df3

In [ ]:

df2 = pd.concat([df,df1])

In [ ]:
df2

In [ ]:
df3=df.append(df1,ignore_index="True")

In [ ]:
df3

## Handle Missing values

In [ ]:
1.delete the
   row
    column
2.imputing the Values

In [ ]:
10000    50 records null values----delete row
        5000 records null----???  -----imputing
    70-80 percent is null in particular column----delete column

In [ ]:
import numpy as np
df1=pd.DataFrame({'Name':['tulasi',np.nan,'supriya',np.nan,'saanvi','saanvi'],'score1':[5,4,np.nan,np.nan,4,5],'score2':[np.nan,5,9,np.nan,4,5]})
df1

In [ ]:
df1.isnull()

In [ ]:
df1.isnull().any()

In [ ]:
df1.isnull().sum()

In [ ]:
#1.deleting the rows containing null values
df1.dropna(inplace=True)

In [ ]:
df1

In [ ]:
import numpy as np
df1=pd.DataFrame({'Name':['tulasi',np.nan,'supriya',np.nan,'saanvi','saanvi'],'score1':[5,4,np.nan,np.nan,4,5],'score2':[np.nan,5,9,np.nan,4,5]})
df1

In [ ]:
df1

In [ ]:
#delete the columns
df1.dropna(axis=1,inplace=True)

In [ ]:
df1

In [ ]:
#Imputing the values
1 2 3 4 5 5
Mean 1+2+3+4+5+5/6
Median--3+4/2
Mode---5

In [ ]:

df1=pd.DataFrame({'Name':['tulasi',np.nan,'supriya',np.nan,'saanvi','saanvi'],'score1':[5,4,np.nan,np.nan,4,5],'score2':[np.nan,5,9,np.nan,4,5]})
df1

In [ ]:
df1["score1"].mean()

In [ ]:
df1["score1"]=df1["score1"].fillna(df1["score1"].mean())

In [ ]:
df1

In [ ]:
df1["score2"].median()

In [ ]:
df1["score2"]=df1["score2"].fillna(df1["score2"].median())

In [ ]:
df1

In [ ]:
tulasi,tulasi,tulasi,saanvi,saanvi,saanvi,supriya

mode saanvi

0 saanvi
1 tulasi

mode[0]=sannvi
mode[1]=tulasi

In [ ]:
df1["Name"].mode()

In [ ]:
df1["Name"]=df1["Name"].fillna(df1["Name"].mode()[0])

In [ ]:
df1

In [ ]:
df1.Name.value_counts()

In [ ]:
group=df1.groupby("Name")

In [ ]:
group

In [ ]:
group.mean()

In [ ]:
df1

In [ ]:
df1.shape

In [ ]:
df1.head(2)

In [ ]:
df1.tail(3)

In [ ]:
Accessing the rows and columns

In [ ]:
df1

In [ ]:
loc
iloc

In [ ]:
df1

In [ ]:
df2=df1.loc[0]

In [ ]:
df2

In [ ]:
type(df2)

In [ ]:
type(df1)

In [ ]:
df1.loc[0:2]

In [ ]:
data={
    "cal":[420,125,154],
    "dur":[50,40,45]
}

In [4]:
data

{'cal': [420, 125, 154], 'dur': [50, 40, 45]}

In [6]:
import pandas as pd

In [7]:
df=pd.DataFrame(data,index=["day1","day2","day2"])

In [8]:
df

      cal  dur
day1  420   50
day2  125   40
day2  154   45

In [9]:
df.loc["day2"]

      cal  dur
day2  125   40
day2  154   45

In [10]:
df=pd.DataFrame({"Name":["vishwa","Saanvi","chetan","priya"],"Age":[2,5,10,15],"Branch":["AI","ML","ECE","EEE"]})

In [11]:
df

     Name  Age Branch
0  vishwa    2     AI
1  Saanvi    5     ML
2  chetan   10    ECE
3   priya   15    EEE

In [16]:
df.iloc[1:3,0:2]

     Name  Age
1  Saanvi    5
2  chetan   10

In [17]:
df.iloc[2:4,1:3]

   Age Branch
2   10    ECE
3   15    EEE